{% extends 'bases/index/baseIndex.html' %}
{% load staticfiles %}
{% block links %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Add Your favicon here -->
    <!--<link rel="icon" href="img/favicon.ico">-->
    <title>Mi colegio</title>
    <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
    <!-- <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet"> -->
{% endblock %}

{% block scripts %}
    <!-- <script src="{% static 'js/jquery-2.1.1.js' %}"></script> -->
    <!-- <script src="{% static 'js/pace.min.js' %}"></script> -->
    <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
    <!-- <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/cbpAnimatedHeader.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script> -->
    <!-- <script src="{% static 'js/inspinia.js' %}"></script> -->
{% endblock %}
