<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock%}</title>
        {% block links %}{% endblock %}
        {% block cssFile %} {% endblock %}
        {% block menuCss %} {% endblock %}
    </head>
    <body>
        {% block barraprincipal %} {% endblock %}
        {% block menu %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %} {% endblock %}
        {% block scriptsBoard %} {% endblock %}
        {% block scriptsFile %} {% endblock %}
    </body>
</html>
