{% extends 'bases/tableros/scriptsBoard.html' %}
<!-- {% load staticfiles%} -->
{% block barraprincipal %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </a><a class="brand" href="index.html">Luis Alejandro Medina, Phi Contab</a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="icon-cog"></i>CUENTA<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Ajustes</a></li>

                        </ul>
                    </li>
                    <li ><a href="/logout/"> <i class="fa fa-share-square"></i> SALIR </a>

                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->

{% endblock %}
