{% extends 'empresa/barraprincipal.html' %}

{% block menu %}
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <li id="inicio"><a href="/empresa/inicio/"><i class="fas fa-tachometer-alt"></i><span>Inicio</span></a>
                </li>
                <li id="puc"><a href="/empresa/puc/"><i class="fas fa-sticky-note"></i><span>Puc</span> </a>
                </li>
                <li id="reportes"><a href="/empresa/reportes/"><i class="fas fa-chart-area"></i><span>Reportes</span>
                </a></li>
                <li id="libro"><a href="/empresa/libro/"><i class="fas fa-paperclip"></i><span>Libro Diario</span> </a>
                </li>
                <li id="inventarios" ><a href="/empresa/inventarios/" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-clipboard"></i><span>Inventarios</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/empresa/inventarios/">Inventarios</a></li>
                        <li><a href="/empresa/inventarios/">Inventarios</a></li>
                        <li><a href="/empresa/inventarios/">Inventarios</a></li>
                        <li><a href="/empresa/inventarios/">Inventarios</a></li>
                        <li><a href="/empresa/inventarios/">Inventarios</a></li>
                        <li><a href="/empresa/inventarios/">Inventarios</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
{% endblock %}
