{% extends 'empresa/barraprincipal.html' %}

{% block menu %}
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <li><a href="index.html"><i class="fas fa-tachometer-alt"></i><span>Inicio</span></a>
                </li>
                <li><a href="reports.html"><i class="fas fa-sticky-note"></i><span>Puc</span> </a>
                </li>
                <li><a href="guidely.html"><i class="fas fa-chart-area"></i><span>Reportes</span>
                </a></li>
                <li class="active"><a href="charts.html"><i class="fas fa-clipboard"></i><span>Charts</span> </a>
                </li>
                <li><a href="shortcodes.html"><i class="fas fa-paperclip"></i><span>PUC</span> </a>
                </li>
                <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-paperclip"></i><span>Inventarios</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="icons.html">Icons</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="pricing.html">Pricing Plans</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="signup.html">Signup</a></li>
                        <li><a href="error.html">404</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
{% endblock %}
