{% extends 'bases/index/baseScripts.html' %}
{% load staticfiles %}

{% block css %}
  <style media="screen">
    #contenedor {
				margin-top: 12%;
			}
    body  {
      background: url("{% static 'img/front/login.jpg' %}") 100% 0 no-repeat;
      background-color: #fff!important;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			overflow: hidden
    }
    .marca {
				color: #fff;
				font-size: 34px;
				background: #0c2e8a;
				border-radius: 5px 5px 5px 5px;
				font-size: 22px;
				text-align: center;
			}
  </style>
{% endblock %}

{% block body %}


<div class="animated fadeInDown">
			<div id="contenedor" class="row">
				<div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
				<div class="col-lg-4 col-md-6 col-sm-8 col-xs-10 marca">
					<div>
						<p id='nombre'>
							<h2><strong>Phi Contab</strong></h2>
						</p>
					</div>
				</div>
</div>
<br>
<div class="row">
  <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10">
    <form class="m-t" method="post">{% csrf_token %}
      <div class="form-group">
        <input name="username" title="El correo es obligatorio" class="form-control" placeholder="Correo electrónico" required maxlength="300" minlength="8">
      </div>
      <div class="form-group">
        <input name="password" title="Contraseña mínimo de 8 carácteres" type="password" class="form-control" placeholder="Contraseña" required maxlength="255" minlength="8">
      </div>

      <div id="captcha"></div>
      <center><button id="btn_submit" type="submit" style="color:#fff;" class="btn btn-warning block full-width m-b active">INGRESAR</button></center>



      <p class="text-muted text-center">
        <a id="recuperar" href="/recuperar/" class="white"></a>
      </p>
    </form>
    <h4>{{msjAuth}}</h4>
  </div>
</div>


{% endblock %}
